@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,700,900);
@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300);
@import url(http://fonts.googleapis.com/css?family=Abel);
p {
  font-size: 12pt;
  line-height: 1.25;
  font-family: "Roboto Condensed",Helvetica,sans-serif;
  font-weight: 300;
  line-height: 1.3em;
  font-size: 20px;
}

#hero-container {
    height: 17em;
    max-height: 300px;
    margin-bottom: 30px;
    background-color: lightblue;
}

#hero-title {
    color: black;
    margin-top: 0.8em;
    font-size: 5em;
    text-align: center;
    font-family: 'Abel', sans-serif;
}

#paypal-container {
    height: 350px;
}

#donation-text {
    padding-top: 40px;
}

/*change to ID */
form > fieldset > legend {
    text-align: center;
}

#divider {
    position: relative;
    margin-top: 120px;
    left: 50%;
    width: 0px;
    border-left:1px solid #E6E6E6;
    /*border-right: 1px solid black;*/
    height: 100px;
}

#paypal-title {
    background-color: yellow;
}

#donation-amount {
    background-color: red;
}

#donation-container {
    width: 280px;
    height: 200px;
    margin-top: 30px;
}

.donation-list-title {
    font-size: 26px;
    text-align: center;
    color: black;
}

.donation-list {
    max-height: 350px;
    height: 185px;
    width: 100%;
    margin-bottom: 20px;
    /*border: 1px solid black; */
    /*background-color: #383838; */
}

.donation {
    width: 100%;
    /*background-color: #2B2B2B;*/
    border-bottom: 1px solid black;
    padding-bottom: 1px;
    margin-bottom: 1px;
    height: 34px;
}

.donation-list > .donation:nth-child(2n+2) {
    background-color: #EEEEEE;
}

.donation-list > .donation:last-child {
    border-bottom: 0px;
}

.donation-list-icon {
    float: left;
    font-size: 15px;
    margin-top: 8px;
    margin-left: 5px;
}

.steam-avatar {
    float: left;
    border: 1px solid;
}

.donator-name, .donation-amount {
    padding-top: 4px;
}

.donator-name {
    float:left;
    font-size: 20px;
    margin-left: 10px;
}

.donation-amount {
    float: right;
    font-size: 18px;
    color: #12E612;
    margin-right: 10px;
}


#server-status-container {
    margin-top: 30px;
}

.server-down {
    background-color: red;
}

.server-up {
    background-color: #58FA58;
}

.server-status {
    height: 50px;
    width: 340px;
    margin-bottom: 5px;
    -webkit-transform-style: preserve-3d;
}

.server-name {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    float:left;
    width: 220px;
    padding-left: 10px;
}

.server-players {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    float: right;
    padding-right: 3%;
}

.server-location {
    float: right;
    width: 50px;
}





    .or-spacer {
        margin-top:86px;
        width:100%;
        position:relative;
    }
    .or-spacer .mask {
        overflow:hidden;
        height:20px;
    }
    .or-spacer .mask:after {
        content:'';
        display:block;
        margin:20px auto 0;
        width:100%;
        height:25px;
        border-radius:125px / 12px;
        box-shadow:0 0 8px black;
    }
